@import 'Properties';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600&family=Noto+Sans:wght@100;300;400&display=swap');

@mixin main_font{
  font-family: 'Montserrat', sans-serif;
}
@mixin second_font{
  font-family: 'Noto Sans', sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
}




body {
  @include second_font();
  background: $black;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  min-width: fit-content;

}